# Lab 1: Python Basics - Variables, Data Types, and Operators

## Learning Objectives
By the end of this lab, you will be able to:
- Understand what variables are and how to create them
- Work with different data types: integers, floats, strings, and booleans
- Use arithmetic, comparison, and logical operators
- Convert between different data types
- Write simple Python expressions and statements

---

## 1. What are Variables?

A **variable** is a named container that stores a value. Think of it as a labeled box where you put data.

### Creating Variables
In Python, you don't need to declare the type - just assign a value using `=`

In [ ]:
# Creating variables
name = "Alice"
age = 20
gpa = 3.75
is_student = True

print("Name:", name)
print("Age:", age)
print("GPA:", gpa)
print("Is Student:", is_student)

### Variable Naming Rules
- Start with a letter or underscore (`_`), not a number
- Can contain letters, numbers, and underscores
- Are case-sensitive (`name` ≠ `Name`)
- Use descriptive names: `student_age` instead of `a`

## 2. Data Types

Python has several basic data types:

### Integer (`int`)
Whole numbers without decimals

In [ ]:
# Integers
count = 10
temperature = -5
year = 2026

print(f"Count: {count}, Type: {type(count)}")
print(f"Temperature: {temperature}, Type: {type(temperature)}")

### Float (`float`)
Numbers with decimals

In [ ]:
# Floats
price = 19.99
pi = 3.14159
gravity = 9.8

print(f"Price: {price}, Type: {type(price)}")
print(f"Pi: {pi}, Type: {type(pi)}")

### String (`str`)
Text data enclosed in quotes (single or double)

In [ ]:
# Strings
greeting = "Hello, Python!"
city = 'New York'
empty = ""

print(f"Greeting: {greeting}, Type: {type(greeting)}")
print(f"City: {city}, Type: {type(city)}")

### Boolean (`bool`)
True or False values

In [ ]:
# Booleans
is_raining = True
is_sunny = False

print(f"Is Raining: {is_raining}, Type: {type(is_raining)}")
print(f"Is Sunny: {is_sunny}, Type: {type(is_sunny)}")

## 3. Operators

### Arithmetic Operators
Used for mathematical calculations

In [ ]:
# Arithmetic Operators
a = 10
b = 3

print(f"{a} + {b} = {a + b}")        # Addition
print(f"{a} - {b} = {a - b}")        # Subtraction
print(f"{a} * {b} = {a * b}")        # Multiplication
print(f"{a} / {b} = {a / b}")        # Division (float result)
print(f"{a} // {b} = {a // b}")      # Floor Division (integer result)
print(f"{a} % {b} = {a % b}")        # Modulo (remainder)
print(f"{a} ** {b} = {a ** b}")      # Exponentiation

### Comparison Operators
Return True or False

In [ ]:
# Comparison Operators
x = 5
y = 8

print(f"{x} == {y}: {x == y}")       # Equal to
print(f"{x} != {y}: {x != y}")       # Not equal to
print(f"{x} < {y}: {x < y}")         # Less than
print(f"{x} > {y}: {x > y}")         # Greater than
print(f"{x} <= {y}: {x <= y}")       # Less than or equal
print(f"{x} >= {y}: {x >= y}")       # Greater than or equal

### Logical Operators
Combine boolean values

In [ ]:
# Logical Operators
p = True
q = False

print(f"{p} and {q}: {p and q}")     # Both must be True
print(f"{p} or {q}: {p or q}")       # At least one must be True
print(f"not {p}: {not p}")           # Reverses the value

## 4. Type Conversion

Converting between data types

In [ ]:
# Type Conversion
num_string = "42"
num_int = int(num_string)          # String to Integer

num_float = float("3.14")           # String to Float

number = 99
num_str = str(number)              # Integer to String

is_true = bool(1)                  # 1 to Boolean (True)
is_false = bool(0)                 # 0 to Boolean (False)

print(f"'{num_string}' -> {num_int} (type: {type(num_int)})")
print(f"'3.14' -> {num_float} (type: {type(num_float)})")
print(f"{number} -> '{num_str}' (type: {type(num_str)})")
print(f"1 -> {is_true} (type: {type(is_true)})")

---

## Exercises

### Exercise 1: Create and Print Variables
Create variables for your personal information and print them
- Your name (string)
- Your age (integer)
- Your height in meters (float)
- Whether you're a student (boolean)

In [ ]:
# TODO: Exercise 1 - Create and print your personal information

### Exercise 2: Arithmetic Calculations
Given the following values, calculate and print the results:
- `hours = 5`
- `minutes = 30`

Calculate:
1. Total minutes
2. Total seconds
3. Remaining minutes after converting to hours

In [ ]:
# TODO: Exercise 2 - Time calculations
hours = 5
minutes = 30

# Calculate total minutes

# Calculate total seconds

# Calculate remaining minutes

### Exercise 3: Simple Comparisons
Create variables for:
- `score1 = 85`
- `score2 = 92`

Print the results of these comparisons:
1. Is score1 equal to score2?
2. Is score1 less than score2?
3. Is score1 greater than or equal to 80?
4. Are both scores greater than 80? (use logical operator)

In [ ]:
# TODO: Exercise 3 - Score comparisons
score1 = 85
score2 = 92

# Question 1

# Question 2

# Question 3

# Question 4

### Exercise 4: Rectangle Area and Perimeter
Given a rectangle with:
- `length = 12.5`
- `width = 8.0`

Calculate and print:
1. Area (length × width)
2. Perimeter (2 × (length + width))
3. Is the area greater than 90?

In [ ]:
# TODO: Exercise 4 - Rectangle calculations
length = 12.5
width = 8.0

# Calculate area

# Calculate perimeter

# Check if area > 90

### Exercise 5: Type Conversion Challenge
Given the following:
- `text_number = "123"`
- `text_decimal = "45.67"`
- `number = 999`

Do the following conversions and print the type of each result:
1. Convert `text_number` to integer and add 50
2. Convert `text_decimal` to float and multiply by 2
3. Convert `number` to string and concatenate with " students"
4. Convert `123` to boolean

In [ ]:
# TODO: Exercise 5 - Type conversions
text_number = "123"
text_decimal = "45.67"
number = 999

# Conversion 1

# Conversion 2

# Conversion 3

# Conversion 4

---

## Challenge Problem (Optional)

### Temperature Converter
Write a program that:
1. Takes a temperature in Celsius (e.g., 25)
2. Converts it to Fahrenheit using the formula: F = (C × 9/5) + 32
3. Prints both temperatures
4. Checks if the Fahrenheit temperature is above 70 degrees
5. Converts the result to a string and prints it

In [ ]:
# TODO: Challenge - Temperature Converter

---

## Summary

You've learned:
- ✅ How to create and name variables
- ✅ The four basic data types: int, float, str, bool
- ✅ Arithmetic, comparison, and logical operators
- ✅ Type conversion between different data types

**Next Lab**: Control Flow (if/else statements and loops)